doctype

html(lang="ru")
  
  -var active = 'Блог' //активный пункт меню, список в header.jade
  -var pageTitle = 'Блог' + ' - Brilicom' //title страницы для генерации верстки  
  -var header = 'profile 0'

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    .content
      .container
        .row
          .row__col-4
            
            .breadcrumbs.breadcrumbs--leftCol
              ul
                li: a(href="index.html") Главная
                li: span Блог
            
            .content__head.content__head--blog
              h1 Прочитай 
                br 
                | самое нужное
            
            a(href="#!").link.link--black.link--reverse
              +iconArrowRight
              | Присоединяйтесь к нам на Facebook
            
          .row__col-8
            
            .blog
              .blog__row
                +blogBlock('Про бриллианты - 23 апреля 2018', 'Синтетические алмазы', 'В начале 50х годов ХХ века шведской компанией ASEA впервые были получены синтетические алмазы. Этот материал получил важное промышленное значение. В 1954 году американская компания General Electric повторила этот успех. В 1955 году были получены кристаллы синтетических алмазов в Лаборатор...')
                +blogBlock('Про бриллианты - 19 апреля 2018 ', 'Муассанит', 'Муассаннит — редкий природный минерал, карбид кремния. Он был обнаружен в 1893 году в каньоне Дьявола (штат Аризона, США) вместе с микроскопически мелкими алмазами. В 1904 этот минерал был изучен и французским химиком, лауреатиом Нобелевской премии, Анри Муассаном, в честь которого и ...')
                +blogBlock('Про бриллианты - 16 апреля 2018 ', 'Кубическая двуокись циркония или ФИАНИТ', 'Кубическая двуокись циркония хорошо известна на постсоветском пространстве как фианит, в США - это даймонэкс, а в Швейцарии - джевалит. Кубическая окись циркония самая эффектная из всех имитаций алмаза. Этот материал приобретает кубическую кристаллическую решётку при стабилизации различным ...')
                +blogBlock('Про бриллианты - 16 апреля 2018 ', 'Имитации Бриллиантов', 'Когда речь идет о драгоценностях, мы сразу думаем о бриллиантах. Бриллианты – это статус, роскошь и большие деньги. Именно большие деньги всегда будоражили умы грабителей и мошенников, поэтому имитации этих благородных камней появились вместе с появлением бриллиантов. ...')
                +blogBlock('Про бриллианты - 16 апреля 2018 ', 'Алмазные биржи мира', 'Антверпенская Алмазная Биржа <br>Сюжет культового фильма Гая Ричи «Большой куш» крутится вокруг похищенных из еврейской ювелирной конторы драгоценностей, среди которых огромный бриллиант. Действие происходит в Антверпене, ...')
            
            +pagination
                  
    
    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Load Scripts
    //- script(src="./js/libs.js")
    include ./_include/_footer-js
    script(src="./js/common.js")
    
