doctype

html(lang="ru")
  
  -var active = 'Избранное' //активный пункт меню, список в header.jade
  -var pageTitle = 'Избранное' + ' - Brilicom' //title страницы для генерации верстки  
  -var header = 'profile 2'

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    .content
      .container
        .content__wrapper
          .breadcrumbs.breadcrumbs--document
            ul
              li: a(href="index.html") Главная
              li: span Избранное
              
          .content__main
            
            .content__head
              .h1 Избранные объявления
            
            a(href="#!").link.link--black Удалить все объявления
            .clear15
            
            .catalog.no--p 
              .catalog__wrapper
                +catalogBlock('Кольцо с бриллиантами', false, false, '10 000 грн.', false, false, false, true)
                +catalogBlock('Серебрянные Шармы Пандора, S925', './img/catalog/catalog-13.png', false, '7 999 грн.', false, false, false, true)
                +catalogBlock('Pandora браслет,оригинал', './img/catalog/catalog-14.png', false, '11 000 грн.', false, false, false, true)
                +catalogBlock('Бриллиант', false, false, '1 грн.', false, false, false, true)
                +catalogBlock('Эксклюзивное колье с подвеской', './img/catalog/catalog-15.png', false, '399 грн.', false, false, false, true)

    
    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Load Scripts
    //- script(src="./js/libs.js")
    include ./_include/_footer-js
    script(src="./js/common.js")
      
