// Footer
footer.footer
  .container
  
    .footer__top
      div
        .footer__logo
          img(src="./img/footer-logo.png", alt="")
            
        .social
          a(href="#!" target="_blank")
            +socialInstagram
          a(href="#!" target="_blank")
            +socialFacebook
          a(href="#!" target="_blank")
            +socialTwitter
      div
        nav.footer__nav
          ul
            li: a(href="catalog.html")
              +iconArrowList
              | Бриллиант
            li: a(href="catalog.html")
              +iconArrowList
              | Сток бриллиантов
            li: a(href="catalog.html")
              +iconArrowList
              | Бриллиант в изделии
            li: a(href="catalog.html")
              +iconArrowList
              | Драгоценный камень
            li: a(href="catalog.html")
              +iconArrowList
              | Драгоценный камень в изделии
      div
        nav.footer__nav
          ul
            li: a(href="catalog.html")
              +iconArrowList
              | Часы
            li: a(href="catalog.html")
              +iconArrowList
              | Бижутерия
            li: a(href="catalog.html")
              +iconArrowList
              | Серебряные изделия
            li: a(href="catalog.html")
              +iconArrowList
              | Эксклюзивные подарки
            li: a(href="catalog.html")
              +iconArrowList
              | Ювелирные изделия без камней
      div
        nav.footer__nav
          ul
            li: a(href="catalog.html")
              +iconArrowList
              | Старинные украшения
            li: a(href="catalog.html")
              +iconArrowList
              | Брендовые изделия
            li: a(href="catalog.html")
              +iconArrowList
              | Монеты и слитки
            li: a(href="catalog.html")
              +iconArrowList
              | Распродажа
        
    .footer__center
      nav.footer__links
        ul
          li: a(href="#!") Оферта
          li: a(href="#!") Как продавать и покупать
          li: a(href="help.html") Помощь
          li: a(href="#!") Реквизиты
          li: a(href="blog.html") Блог
          li: a(href="calendar.html") Календарь выставок
          li: a(href="manual.html") Справочник
        
    .footer__bottom
      .footer__copyright Copyright © 2018 Brilicom
      .footer__development Разработка сайта - 
        a(href="#!" target="_blank") DARTC

a(href="#!")#link__up.link__up
  +iconArrowUp
