doctype

html(lang="ru")
  
  -var active = 'Помощь' //активный пункт меню, список в header.jade
  -var pageTitle = 'Помощь' + ' - Brilicom' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    .base
      include ./_include/_header
      
      .content.no--p-top
        .container-fluid
          
          .content__separator.content__separator--thin
          
          h1 Помощь
          
          .account__list
            ul
              li: a(href="help-faq.html") Часто задаваемые вопросы
                +iconArrowRight2
              li: a(href="help-feedback.html") Обратная связь
                +iconArrowRight2
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")
    
