doctype

html(lang="ru")
  
  -var active = 'Главная' //активный пункт меню, список в header.jade
  -var pageTitle = 'Главная' + ' - Brilicom' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    .base
      include ./_include/_header
      
      .content
        .container-fluid
          
          a(href="add-advert.html").btn.btn--color.btn--block.btn--center добавить объявление
          
          .catalog
            .catalog__wrapper
              .catalog__head
                div.no--border
                  a(href="#catalog")
                    span Каталог
                    +iconFilter
            
            .catalog__wrapper
              
              +catalogBlock('Бриллиант 0,53 карата (3/7) НЕЛЕЧЕННЫЙ!!!', '7 950', 'б/у', true, './img/catalog/catalog-11-6.png')
              +catalogBlock('Бриллиант натуральный 0,07ct S1 H', '6 150', 'новое', true, './img/catalog/catalog-21.png')
              +catalogBlock('ЗОЛОТОЙ ПЕРСТЕНЬ С РУБИНОМ', '3 750', 'б/у', false, './img/catalog/catalog-11-6.png')
              +catalogBlock('Бриллиант 0,53 карата (3/7) НЕЛЕЧЕННЫЙ !!!', '4 480', 'новое', true, false)
                
              +catalogBlock('БРИЛЛИАНТ 0.58CT', '30 000', 'б/у', true, './img/catalog/catalog-11-6.png')
              +catalogBlock('Ожерелье', '1 100', 'новое', true, './img/catalog/catalog-21.png')
              +catalogBlock('Ожерелье оникс', '900', 'б/у', true, './img/catalog/catalog-11-6.png')
              +catalogBlock('Бусики кораловые', '2 200', 'новое', true, './img/catalog/catalog-21.png')
                  
              +catalogBlock('Комплект серебро серьги и кольцо', '1 200', 'б/у', true, './img/catalog/catalog-11-6.png')
              +catalogBlock('Кольцо серебро с камнем', '1 200', 'новое', true, './img/catalog/catalog-21.png')
              +catalogBlock('Кольцо', '1 100', 'б/у', true, './img/catalog/catalog-11-6.png')
              +catalogBlock('Перстень и сержки с вензелями', '2 200', 'новое', true, './img/catalog/catalog-21.png')
                  
              +catalogBlock('Брошка кулон', '8 000', 'б/у', true, './img/catalog/catalog-11-6.png')
              +catalogBlock('Кольцо', '1 200', 'новое', true, './img/catalog/catalog-21.png')
              +catalogBlock('Кольцо с сердоликом', '1 200', 'б/у', true, './img/catalog/catalog-11-6.png')
              +catalogBlock('Часы Fossil', '2 200', 'новое', true, './img/catalog/catalog-21.png')
                        
          .content__separator
          
          +contentSeo 
        
        #catalog.filter.modal
          form(action="#!")
            .filter__wrapper
              .filter__head
                div
                  a(href="#!").filter__head-btn.filter__head-btn--close Закрыть
              .filter__head-separator
              .filter__body
                
                .filter__body-wrapper
                  .filter__block.no--border.no--p-bottom
                    ul
                      li.filter__block-li: a(href="catalog.html")
                        img(src="./img/category/category-1.svg", alt="")
                        span Бриллианты
                      li.filter__block-li: a(href="catalog.html")
                        img(src="./img/category/category-3.svg", alt="")
                        span Драгоценный камень
                      li.filter__block-li: a(href="catalog.html")
                        img(src="./img/category/category-4.svg", alt="")
                        span Бриллиант в изделии
                      li.filter__block-li: a(href="catalog.html")
                        img(src="./img/category/category-5.svg", alt="")
                        span Драгоценный камень в изделии
                      li.filter__block-li: a(href="catalog.html")
                        img(src="./img/category/category-6.svg", alt="")
                        span Ювелирные изделия без камней
                      li.filter__block-li: a(href="catalog.html")
                        img(src="./img/category/category-7.svg", alt="")
                        span Часы
                      li.filter__block-li: a(href="catalog.html")
                        img(src="./img/category/category-12.svg", alt="")
                        span Бижутерия
                      li.filter__block-li: a(href="catalog.html")
                        img(src="./img/category/category-11.svg", alt="")
                        span Серебряные изделия
                      li.filter__block-li: a(href="catalog.html")
                        img(src="./img/category/category-8.svg", alt="")
                        span Эксклюзивные подарки
                      li.filter__block-li: a(href="catalog.html")
                        img(src="./img/category/category-10.svg", alt="")
                        span Старинные украшения
                      li.filter__block-li: a(href="catalog.html")
                        img(src="./img/category/category-13.svg", alt="")
                        span Брендовые изделия
                      li.filter__block-li: a(href="catalog.html")
                        img(src="./img/category/category-9.svg", alt="")
                        span Монеты и слитки
          
     
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")
    
